*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    max-width:695px;
    align-items: center;
    justify-content: center;
    background-color: hsl(244, 38%, 16%);
}

.card-content{
    width:50%;
    padding: 16px 16px;
}

.header{
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    color:white;
}
.description{
    padding: 8px 16px;
    font-size: small;
    font-family: 'Lexend Deca', sans-serif;
    color:grey;
}
.container{
    display: flex;
    padding: 24px 16px;
    color:white;
    font-family: 'Lexend Deca', sans-serif;
}
@media  screen and (max-width: 1000px) {
    *{
        box-sizing: border-box;
        padding:0;
        margin:0;
    }
    .card{
        flex-direction: column-reverse ;
        text-align: center;
    }
    .container{
        flex-direction: column;
    }
    .image{
        width:100%;
        height:100%;
        background-image: linear-gradient(to left, rgba(170, 92, 219, 0.5), rgba(170, 92, 219, 0.5)); 
    }

}
.image{
    width:50%;
    height:100%;
    background-image: linear-gradient(to left, rgba(170, 92, 219, 0.5), rgba(170, 92, 219, 0.5)); 
    
}
img{
    width:100%;
    height:auto;
    display:block;
    opacity: 0.3;
}

.item{
    padding:14px 8px;
}

#counts{
    font-weight: bold;
}

#subs{
    font-size: small;
    color:grey;
}

